*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
body{
    background-color: #000000;
}
/* navbar */
.navbar{
    width:100vw ;
    height: 56px;
    background-color: #000000;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    
}
/* ham logo of navabr */
.ham-logo{
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glow:hover{
        background-color: rgb(97, 102, 97);
}
#nav-icons{
    font-size:24px;
    color: whitesmoke;}
/* youtube logo */
.youtube_logo-box{
    margin: 10px;
    width: 129px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#youtube_logo{
    width: 100px;
    height: 20px;
        overflow: hidden;
}
/* search box */
.searchbar{
   margin-left:100px ;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 832px;
    height: 40px;
}
.textsearch{
    display: flex;
   justify-content: end;
   align-items: center;
    width: 632px;
    height: 40px;
     flex-shrink:0;
}
.inputs{
    flex-shrink:0;
    height: 40px;
    width: 536px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    font-size: 20px;
    background-color: #000000;
    color:  rgb(65, 68, 65);
    border: 2px solid  rgb(65, 68, 65);
      outline: none;
}
.textsearch.active .inputs{
    width: 636px;
    border: 2px solid rgb(12, 93, 159);
    padding-left: 400px;
}

.textsearch{
    position: relative;   
}

.search-icon{
    position: absolute;
    left: 10px;
    color: white;
    opacity: 0;
    transition: 0.01s;
    pointer-events: none;
}
.serci i{
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textsearch.active .search-icon{
    opacity:1;
}


.textsearch.active .inputs{
    padding-left:60px !important;
}
.search_button{
    margin-left: 1px;
    width: 64px;
    height: 40px;
    background-color:  rgb(65, 68, 65);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 40px;
}
.audiosearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color:  rgb(66, 71, 66);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* nav left */
.nav-left{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 300px;
}
.create-box{
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    font-size: 24px;
    color: whitesmoke;
    width: 100px;
    height: 36px;
    background-color:  rgb(66, 71, 66);
    border-radius: 20px;
}
#create-left{
    font-size: 14px;
    color: whitesmoke;
    font-weight: bold;
}
.bell-box{
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    font-size: 24px;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    background-color:  rgb(66, 71, 66);
    border-radius: 20px;
}
.profile-box{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(66, 71, 66);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: whitesmoke;
    font-size: 24px;
}

 
/* SIDEBAR */
.sidebar{
  position:fixed;
  top:60px;
  left:0;
  width:74px;
  height:100%;
  background:#0f0f0f;
  transition:0.3s;
  overflow:hidden;
}


.row1{
    width: 240px;
    height: 105px;
    background-color: green;
    display: flex;
    flex-direction: column;
}
.el-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#side-icons{
    width: 24px;
}
.sidebar.active{
  width:240px;
}

.sidebar a{
  display:block;
  color:white;
  padding:15px;
  text-decoration:none;
}
/* when sidebar is collapsed */
.sidebar:not(.active) .el-1{
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

/* when sidebar expands */
.sidebar.active .el-1 {
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
  padding-left:15px;
  gap:15px;
}



/* CONTENT SHIFT */
.content{
  margin-left:70px;
  padding:20px;
  transition:0.3s;
  color: white;
}

.content.shift{
  margin-left:220px;
}